<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>185928026240-hfin8sqf173a04g1d34tqj9hls4jakdb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDV4lWfEZIN3tq_jr2IBsjdTXI6dpP1Yss</string>
	<key>GCM_SENDER_ID</key>
	<string>185928026240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolApp</string>
	<key>PROJECT_ID</key>
	<string>loginauth-b0bdc</string>
	<key>STORAGE_BUCKET</key>
	<string>loginauth-b0bdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185928026240:ios:f2b813caf2621fd1613e65</string>
	<key>DATABASE_URL</key>
	<string>https://loginauth-b0bdc-default-rtdb.firebaseio.com</string>
</dict>
</plist>